<div class='large-6 large-offset-3 columns panel'>
  <%= form_for @friend do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <br/>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <br/>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <br/>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <br/>
    <%= f.submit 'Create Friend', class: 'button alert' %>
  <% end %>
</div>
