<h1>Dashboard</h1>

<div class='large-8 columns'>
  <h3>Lent Out Books</h3>
  <% @cobs.each do |cob| %>
    <div class='panel'>
      <h3><%= cob.title %></h3>
      <p><%= cob.author %></p>
      <span class='label radius warning'>This book is checked out to <%= cob.checked_out_book.friend.full_name %>.</span>
    </div>
  <% end %>
</div>

<div class='large-4 columns'>
  <h3>Samplings From Your Library</h3>
  <% @books.each do |book| %>
    <div class='panel'>
      <h3><%= book.title %></h3>
      <p><%= book.author %></p>
    </div>
  <% end %>
</div>
