<div class='large-12 columns'>
  <div class='row'>
    <div class='large-8 columns'>
      <h2>Your Library</h2>
    </div>
    <div class='large-4 columns'>
      <%= link_to 'Add a new book', new_book_path, class: 'button alert right' %>
    </div>
  </div>
</div>

<div class='large-8 large-offset-2 columns'>
  <% @books.each do |book| %>
    <% if !book.checked_out? %>
      <div class='panel available'>
        <h4><%= link_to book.title, book_path(book) %></h4>
        <p><%= book.author %></p>
      </div>
    <% else %>
      <div class='panel'>
        <div>
          <h4><%= link_to book.title, book_path(book) %></h4>
          <p><%= book.author %></p>
        </div>
        <p class='right' id='checked_out_text'>Checked Out</p>
      </div>
    <% end %>
  <% end %>
</div>
