<h2><%= @book.title %></h2>

<div class='panel'>
  <p>Author: <%= @book.author %></p>
  <p>ISBN: <%= @book.isbn %></p>
</div>

<div class='panel'>
  <%= form_for @cob do |f| %>
    <%= f.collection_select(:id, Friend.all, :id, :full_name) %>
    <br/>
    <%= f.submit %>
  <% end %>
</div>
