<h2><%= @book.title %></h2>

<div class='panel'>
  <p>Author: <%= @book.author %></p>
  <p>ISBN: <%= @book.isbn %></p>
</div>

<div class='panel'>
  <%= form_for @book do |f| %>
    <%= f.collection_select(:friend_id, Friend.all, :id, :full_name) %>
    <br/>
    <%= f.label :checked_out %>
    <%= f.check_box :checked_out, {}, "true", "false" %>
    <br/>
    <%= f.submit 'Lend out book', class: 'button' %>
  <% end %>
</div>
