<nav class='top-bar' data-topbar data-options='is_hover: false', role='navigation'>
  <ul class='title-area'>
    <li class='name'>
      <h1><%= link_to 'My Library', dashboard_path %></h1>
    </li>
    <li class='toggle-topbar menu-icon'><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class='top-bar-section'>

    <ul class='right'>
      <li class='has-dropdown'>
        <a href="#">Categories</a>
        <ul class='dropdown'>
          <li><%= link_to 'Create new category', new_category_path %></li>
          <li><%= link_to 'View Categories', categories_path %></li>
        </ul>
      </li>
    </ul>

    <ul class='right'>
      <li class='has-dropdown'>
        <a href="#">Friends</a>
        <ul class='dropdown'>
          <li><%= link_to 'Add Friend to Directory', new_friend_path %></li>
          <li><%= link_to 'View Friends', friends_path %></li>
        </ul>
      </li>
    </ul>
    
    <ul class='right'>
      <li class='has-dropdown'>
        <a href="#">Books</a>
        <ul class='dropdown'>
          <li><%= link_to 'Add Book to Library', new_book_path %></li>
          <li><%= link_to 'View Library', books_path %></li>
        </ul>
      </li>
    </ul>

    <ul class='left'>
      <% if logged_in? %>
        <li><%= link_to "Log Out, #{current_user.username}", logout_path %></li>
      <% end %>
    </ul>

  </section>
</nav>
